
:root {
  --primary-text-color: #757575;
  --primary-background-color: #e5e5e5;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --button-background-color: #F5F4FA;
  --text-accent-color: #ffffff;
}

body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  /* line-height: 1.7px; */
}

ul {
  list-style: none;
}

/*nav*/
.nav-logo,
.link {
  color: var(--title-text-color);
  text-decoration: none;
}
.nav-logo{
  font-family: Raleway, sans-serif;
  color: var(--title-text-color);
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.logo-accent{  
  color: var(--accent-color); 
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* Акценты при ховере и фокусе */
.site-nav .link:hover,
.site-nav .link:focus,
.footer-info .footer-contacts:hover,
.footer-info .footer-contacts:focus{
  color: var(--accent-color);
}

/*contacts-nav*/
.contacts-nav .contact-link {
  color: var(--primary-text-color);
}

.contacts-nav .contact-link:hover,
.contacts-nav .contact-link:focus {
  color: var(--accent-color);
}

/* Заголовки */
/* Заголовки h2 */
.section-title{
color: var(--title-text-color);
font-weight: 700;
font-size: 36px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.03em;  
}

/* Заголовки h3 */
/* Заголовки в Студии */
.features-list-title{
color: var(--title-text-color);
font-weight: 700;
font-size: 14px;
line-height: 1,14;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.members-title{
color: var(--title-text-color); 
font-weight: 500;
font-size: 16px;
line-height: 1.12;
letter-spacing: 0.03em;
}

/* Заголовки в Портфолио */
.work-list-item .work-list-title{
color: var(--title-text-color);
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
}

/* Герой */
.hero-title {
  color: var(--text-accent-color);
  font-weight: 900;
  font-size: 44px;
 line-height: 1.4;
text-align: center;
letter-spacing: 0.06em;
}

/* Текст */
/* Текст в Студии */
.features-list-text{
letter-spacing: 0.03em;
  }

/* Текст в Портфолио */
.work-list-text{
color: var(--primary-text-color);  
font-size: 16px;
line-height: 1.9px;
letter-spacing: 0.03em;
}

.work-list-item{
  text-decoration: none;
}

/*footer*/
.footer-info .footer-address {
  color: var(--text-accent-color);
}

.footer-info .footer-contacts {
  color: rgba(255, 255, 255, 0.6);
}

/* Button */
.hero-button {
  color: var(--text-accent-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  text-decoration: none;
}

.button {
  color: var(--title-text-color);
  background-color: var(--button-background-color)
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-decoration: none;
  cursor: pointer;
}
.button:hover,
.button:focus{
  color: var(--text-accent-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}
/*footer*/
.footer-info .footer-address {
  color: var(--text-accent-color);
}

.footer-info .footer-contacts {
  color: rgba(255, 255, 255, 0.6);
}