.activity {
  padding-bottom: 94px;
}
.activity__title {
  margin-bottom: 50px;
}
.activity__list {
  display: flex;
}
.activity__item {
  position: relative;
}
.activity__item:nth-child(-n + 2) {
  margin-right: 30px;
}
.activity__img {
  display: block;
}
.activity__text {
  position: absolute;
  display: flex;
  text-align: center;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--primary-background-color);
  height: 70px;
  width: 100%;
  align-items: center;
  justify-content: center;
  left: 0;
  bottom: 0;
}
