.clients {
  padding-top: 94px;
  padding-bottom: 94px;
  justify-content: space-between;
}
.clients__title {
  margin-bottom: 50px;
}
.clients__list {
  display: flex;
}

.clients__item {
  max-width: 170px;
  &:not(:last-child) {
    margin-right: 30px;
  }
  &:hover,
  &:focus {
    .clients__svg {
      fill: var(--accent-color);
    }
  }
}

.clients__icon {
  display: block;
  padding: 16px 32px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: fill var(--primary-transition),
    border-color var(--primary-transition);
  &:hover,
  &:focus {
    border-color: var(--accent-color);
    fill: var(--accent-color);
  }
}

.clients__svg {
  fill: currentColor;
  transition: fill var(--primary-transition);
}
