.footer {
  background-color: var(--footer-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-wrap {
  // display: flex;
  // justify-content: space-between;
  // align-items: baseline;
  display: block;
  text-align: center;
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    flex-flow: wrap;
  }
  @media screen and (min-width: 1200px) {
    text-align: left;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}

.footer-nav {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 20px;
  margin-right: 0;
  justify-content: center;
  align-content: center;
  text-align: center;
  @media screen and (min-width: 1200px) {
    text-align: left;
    align-content: flex-start;
    justify-content: flex-start;
  }
}

.footer-info {
  margin-bottom: 60px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 0px;
  }
}
.footer-info__item {
  margin-bottom: 9px;
}
.footer-info__address {
  text-decoration: none;
  font-style: normal;
  color: var(--text-accent-color);
  transition: color var(--primary-transition);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.footer-info__contacts {
  text-decoration: none;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--primary-transition);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.footer-social {
  // margin-left: 70px;
}
.footer-social__label {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--text-accent-color);
  display: block;
  margin-bottom: 10px;
}
.social-list {
  display: flex;
  // margin-top: 20px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 60px;
  @media screen and (min-width: 768px) {
    margin-bottom: 102px;
  }
  @media screen and (min-width: 1200px) {
    align-items: right;
    justify-content: flex-start;
    margin-bottom: 0px;
  }
}

.social-list__items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-list__items + .social-list__items {
  margin-left: 10px;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: var(--text-accent-color);
  transition: background-color var(--primary-transition);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.subscription__title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--text-accent-color);
  margin-bottom: 20px;
  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}
.subscription__wrap {
  display: block;
  align-items: center;
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.subscription__input {
  display: block;
  width: 90%;
  height: 50px;
  margin: 0 auto 20px;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  &::placeholder {
    padding: 15px 0 15px 16px;
    color: rgba(255, 255, 255, 0.6);
  }
  @media screen and (min-width: 768px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0px;
  }
}

.subscription-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 29px;
  margin: 0 auto;
  color: var(--text-accent-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  @media screen and (min-width: 1200px) {
    justify-content: flex-start;
    margin: 0px;
  }
}

.subscription-button__icon {
  margin-left: 10px;
  fill: var(--text-accent-color);
}
