.page-header {
  border-bottom: 1px solid #ececec;
  display: flex;
  align-items: center;
  position: relative;
}

.main-nav {
}

.mobile-header {
  display: flex;
  align-items: center;
  height: 60px;
  padding: auto 15px;
}

.desktop-nav {
  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    &.is-open {
      display: block;
    }
  }
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}
.menu-button {
  position: absolute;
  top: 10px;
  right: 15px;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  @media screen and (min-width: 767px) {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}
.menu-button.is-open .icon-cross {
  display: block;
}
.menu-button.is-open .icon-menu {
  display: none;
}

.site-nav {
  margin-top: 48px;
  margin-bottom: 132px;
  // display: flex;
  // margin-left: 93px;
}
.site-nav__item + .site-nav__item {
  margin-top: 32px;
}

.site-nav__link {
  display: block;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.18;
  color: var(--title-text-color);
  text-decoration: none;
  transition: color var(--primary-transition);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.site-nav__link.current {
  color: var(--accent-color);
  transition: color var(--primary-transition);
  position: relative;
  // &::after {
  //   content: '';
  //   position: absolute;
  //   left: 0;
  //   bottom: 0;
  //   height: 4px;
  //   width: 100%;
  //   background-color: var(--accent-color);
  //   border-radius: 2px;
  // }
}

.contacts-nav {
  // display: flex;
  // margin-left: auto;
  // align-items: center;
}

.contacts-nav__item {
  // display: flex;
  // align-items: center;
  // & + & {
  //   margin-left: 50px;
  // }
}

.contacts-nav__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  text-decoration: none;
  font-style: normal;
  color: var(--primary-text-color);
  transition: color var(--primary-transition);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contacts-nav__icon {
  margin-right: 10px;
  fill: currentColor;
  transition: fill var(--primary-transition);
  &:hover,
  &:focus {
    fill: var(--accent-color);
    cursor: pointer;
  }
}

.email-icon {
  width: 16px;
  height: 12px;
}
.phone-icon {
  width: 15px;
  height: 24px;
}
