.page-header {
  border-bottom: 1px solid #ececec;
  display: flex;
  align-items: center;
}
.main-nav {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav__item + .site-nav__item {
  margin-left: 50px;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  color: var(--title-text-color);
  text-decoration: none;
  transition: color var(--primary-transition);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.site-nav__link.current {
  color: var(--accent-color);
  transition: color var(--primary-transition);
  position: relative;
  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
}

.contacts-nav {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.contacts-nav__item {
  display: flex;
  align-items: center;
  & + & {
    margin-left: 50px;
  }
}

.contacts-nav__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  text-decoration: none;
  font-style: normal;
  color: var(--primary-text-color);
  transition: color var(--primary-transition);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contacts-nav__icon {
  margin-right: 10px;
  fill: currentColor;
  transition: fill var(--primary-transition);
  &:hover,
  &:focus {
    fill: var(--accent-color);
    cursor: pointer;
  }
}

.email-icon {
  width: 16px;
  height: 12px;
}
.phone-icon {
  width: 15px;
  height: 24px;
}
