.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 94px 15px;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--primary-transition),
    background-color var(--primary-transition);
  overflow-y: scroll;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  // width: 528px;
  // min-height: 581px;
  border-radius: 4px;
  background-color: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 40px;
  position: relative;
  @media screen and (min-width: 480px) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 450px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 528px;
  }
}

.modal__button {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin: 9px 9px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--primary-background-color);
  &:hover,
  &:focus {
    cursor: pointer;
  }
}
.modal__icon {
  transition: fill var(--primary-transition);
  .modal__button:hover &,
  .modal__button:focus & {
    fill: var(--accent-color);
  }
}
.modal__title {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}
.modal__field {
  margin-bottom: 10px;
}

.modal__label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.input-wrapper {
  position: relative;
}

.input {
  outline: none;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  background-color: transparent;
  padding-left: 30px;
  font-size: 14px;
  transition: border-color var(--primary-transition);
  &:hover,
  &:focus {
    border-color: var(--accent-color);
    cursor: pointer;
  }
  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
}
.input__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill var(--primary-transition);
  .input:hover + &,
  .input:focus + & {
    fill: var(--accent-color);
  }
}

.modal__textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
  padding: 12px 16px;
  font-size: 14px;
  color: rgba(117, 117, 117, 0.5);
  @media screen and (min-width: 1200px) {
    font-size: 12px;
  }
}

.modal__checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 1.17;
}

.modal-check {
  margin-right: 8px;
}
.modal-check:checked + .modal-check__text span {
  background-color: var(--accent-color);
  border: none;
}

.modal-check:checked + .modal-check__text svg {
  fill: #ffffff;
}

.modal-check__text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: 1.17;
  color: var(--primary-text-color);
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-check__icon {
  width: 15px;
  height: 15px;
  border: 2px solid #303030;
  border-radius: 2px;
  margin-right: 5px;
}

.modal-check__svg {
  fill: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.conditions {
  font-weight: 400;
  text-decoration-line: underline;
  text-decoration-skip-ink: none;
  color: var(--accent-color);
}

.modal__submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.submit-button {
  height: 50px;
  min-width: 200px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--text-accent-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;
  border-radius: 4px;
  transition: background-color var(--primary-transition);
  &:hover {
    background-color: rgba(24, 140, 232, 1);
    cursor: pointer;
  }
}
