.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--primary-transition),
    background-color var(--primary-transition);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  padding: 40px;
  border-radius: 4px;
  background-color: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.modal-button {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin: 9px 9px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--primary-background-color);
  &:hover,
  &:focus {
    cursor: pointer;
  }
}
.modal-button-icon {
  transition: fill var(--primary-transition);
  .modal-button:hover &,
  .modal-button:focus & {
    fill: var(--accent-color);
  }
}
.modal-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}
.modal-input {
  outline: none;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  background-color: transparent;
  padding-left: 30px;
  font-size: 14px;
  transition: border-color var(--primary-transition);
  &:hover,
  &:focus {
    border-color: var(--accent-color);
    cursor: pointer;
  }
  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
}
.modal-field {
  margin-bottom: 10px;
}
.modal-textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
  padding: 12px 16px;
  font-size: 14px;
  color: rgba(117, 117, 117, 0.5);
}

.submit-button {
  height: 50px;
  min-width: 200px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--text-accent-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;
  border-radius: 4px;
  transition: background-color var(--primary-transition);
  &:hover {
    background-color: rgba(24, 140, 232, 1);
    cursor: pointer;
  }
}

.modal-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.modal-check {
  margin-right: 8px;
}

.modal-submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.modal-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill var(--primary-transition);
  .modal-input:hover + &,
  .modal-input:focus + & {
    fill: var(--accent-color);
  }
}

.input-wrapper.user {
  position: relative;
}

.modal-check-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
}

.modal-check-icon {
  width: 15px;
  height: 15px;
  border: 2px solid #303030;
  border-radius: 2px;
  margin-right: 5px;
}

.check-icon {
  fill: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-check:checked + .modal-check-text span {
  background-color: var(--accent-color);
  border: none;
}

.modal-check:checked + .modal-check-text svg {
  fill: #ffffff;
}

.conditions {
  font-weight: 400;
  text-decoration-line: underline;
  text-decoration-skip-ink: none;
  color: var(--accent-color);
}
.subscription {
  margin-left: 93px;
}

.subscription-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-accent-color);
  margin-bottom: 20px;
}

.subscription-input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  &::placeholder {
    padding: 15px 0 15px 16px;
    color: rgba(255, 255, 255, 0.6);
  }
}

.subscription-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--text-accent-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;
  border-radius: 4px;
  cursor: pointer;
}

.subscription-form {
  display: flex;
}
.letter-icon {
  margin-left: 10px;
  fill: var(--text-accent-color);
}
