.social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 30px;
}
.social__items:not(first-child) {
  margin-right: 10px;
}
.social__links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  transition: fill var(--primary-transition),
    background-color var(--primary-transition);
  &:hover,
  &:focus {
    fill: var(--text-accent-color);
    background-color: var(--accent-color);
  }
}
