body {
  // background-color: salmon;
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.7;
}
body.modal-open {
  overflow: hidden;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
